body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

/* Header Styles*/
.header {
    display: block;
    position: fixed;
    width: 100%;
    height: 69px;
    top: 0px;
    background-color: black;
    border-bottom: 1px solid seashell;
}

.logo {
    float: left;
    height: 50px;
    padding: 10px;
}

.navigation {
   float: right;
   margin: 0 auto;
   padding: 20px 20px;
   display: flex;
}

.navigation li {
    display: inline-block;
    padding: 0px 5px;
    text-decoration: underline;
    flex-shrink: 1;
}

@media only screen and (max-width: 700px) {
  .navigation {
    display: none;
  }
}

.navigation li a {
    color: seashell;
}
/* Mission Styles*/

.mission-container {
    background-image: url('images/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1200px;
    height: 700px;
    margin: 40px auto 40px auto;
    display: flex;
}

.text-area {
    margin: auto;
    height: auto;
    background-color: black;
    width: 100%;
}

/* Featured Tea Styles*/
.trend-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.trend img {
    width: 300px;
    height: 200px;
    padding: 10px;
}

/*Location style*/
.location-container {
    background-image: url('images/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1200px;
    height: 500px;
    margin: 40px auto auto auto;
    padding-top: 85px;
}

.area-container {
    margin: 15px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-container .area {
    background-color: black;
    width: 300px;
    height: auto;
    margin: 20px;
    opacity: 1;
}

/* Contact Styles*/
.contact-container {
    height: 200px;
}

/*Footer Styles*/
footer {
    display: block;
    float: left;
    padding-left: 20px;
}
